body {
    color: rgb(127, 211, 0);
    background-color: black;
    text-align: center;
    font-family: courier;
    font-size: 16px;
}

#cabecera {
    background: rgb(255, 255, 255) ;
    color: blue;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#footer_html {
    margin-top: 10em;
    border: 1px solid green ;
}